.tambah-inventaris{
    float: right;
    display: block;
}
.input-select{
    font-size: 14px;
}

.data-table{
    font-size: 14px;
}

.table thead{
    background:#203239;
    color: white;
    border-radius: 10px;
}

.btn{
    font-size: 20px;
}
